body{
    margin: auto;
    width: 100%;
    padding-left: 0px
}

button{
    margin-right: 3%;
}

a{
    margin-left: 6%;
}

h3{
    color: blue;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
